custom-slider {
    display: block;
}

.slider__container {
    position: relative;
    height: 37.5vw;
}

.slider__slides {
    /* height: 300px; */
}

.slider__slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* 1600 x 600 intrinsic slide size */
    opacity: 0;
    min-height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 1s ease-in;
}

.slider__slide.active {
    opacity: 1;
    transition: all 1s ease-out;
}

.slider__slide.flex-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__slide.flex-item div {
    width: 65%;
}

.slider__dots-container {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    bottom: 4%;
    left: 0;
    display: block;
    text-align: center;
}

.slider__dot {
    height: 12px;
    width: 12px;
    margin: 0 4px;
    display: inline-block;
    border: 2px solid var(--white);
    transition: background-color 0.6s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.slider__dot.active {
    background-color: #ffffff;
}